[2016-12-20 19:00] davidamichelson opened #5 "URI Assignment"
@jedwardwalters This is to say go ahead and insert uris into each file in the publicationStmt as we discussed (see https://github.com/srophe/syriac-corpus/blob/master/data/tei/Aphrahat-Dem_1.xml#L51). Just start numerically with syriaccorpus.org/1 etc.

@wsalesky This should answer your query:
“I added some structure to the data repo, so that it can be easily deployed into eXist. However I noticed

[2016-12-20 19:02] dlschwartz opened #6 "XML file for the "letter" at the beginning of the Demonstrations"
@jedwardwalters I think we want a separated xml file for the letter that comes before the first demonstration. You would have to decide what to call this portion of the Demonstrations at line 6 of the header. In the body, it would be labeled as div1 type="part" n="0".

[2016-12-20 19:03] dlschwartz commented on #6
See #5 for how to add a URI to this record.

[2016-12-20 21:11] nathangibson commented on #5
OK, here you are: https://docs.google.com/spreadsheets/d/1d8gxz-Ax7bozQeAzy7ufzSjUn0z9muNHIi910A0gcuw/edit#gid=0

[2016-12-30 03:32] jedwardwalters commented on #5
Thanks, everyone, for your comments here. Sorry for the delay--I was out of town for the last two weeks and didn't have much time for work. I'm back now and I'll start working on this stuff.

[2017-01-11 18:30] davidamichelson commented on #5
@jedwardwalters I know the semester is just getting underway. Please let us know when you get these in as we can begin to see the texts in the test app.

[2017-01-11 18:42] jedwardwalters commented on #5
That looks great, @nathangibson . Thank you!

@davidamichelson I'll get to work on this right away. Sorry for the delay!

[2017-01-12 19:09] jedwardwalters commented on #6
Done.

[2017-01-12 19:09] #6 closed

[2017-01-12 19:10] jedwardwalters commented on #5
@wsalesky I've added the URIs. Let me know if there's anything else you need me to do for this test phase to work.

[2017-01-12 19:10] #5 closed

[2017-01-12 19:13] wsalesky commented on #5
Thank you! I will try to get a version of the app with data up tomorrow.

[2017-01-13 17:58] wsalesky commented on #5
Initial version of the site:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/index.html
Use the browse and search to access current data. (Keyword, the others are hold overs from Syriaca.org that will need to be changed)

We can discuss search/browse and display options on the app branch:
https://github.com/srophe/syriac-corpus-app

Thanks!

[2017-01-24 01:26] jedwardwalters opened #9 "xml:lang in <head>"
Need to add xml:lang tag for Syriac titles in <head> elements

[2017-01-24 01:27] jedwardwalters opened #10 "Source attribution on Dem. 23"
Demonstration 23 is from Vol. 2 of Patrologia Syriacum, not Vol. 1

[2017-01-24 01:53] #10 closed

[2017-01-24 01:53] #9 closed

[2017-01-24 02:38] jedwardwalters opened #13 "Incomplete bibliographic record in sourceDesc"
The bibliographic record does not indicate that Parisot's edition of the Demonstrations are in Patrologia Syriaca, ed. by Graffin.

[2017-01-24 02:39] #13 closed

[2017-02-08 18:23] davidamichelson opened #16 "Numbers in Titles"
@nathangibson @jedwardwalters in order for titles to appear in proper numeric order when alphabetized (such as here: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/browse.html?view=facets) we need all numbers in work titles to be wrapped in tei:num (http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-num.html). Also in the case of roman numerals, it should also have the @value in

[2017-02-08 19:16] jedwardwalters commented on #16
Okay, I'll work on the tei:num issue and wait on the @n until we discuss.

[2017-02-15 18:32] nathangibson commented on #16
OK, @wsalesky here are some records for you to test https://github.com/srophe/syriac-corpus/commit/0fdc5e2ea6584016807f0ccf5ad34554ab4beac1. Please delete these when you are done.

The sorting order of these should be:
Genesis
Exodus
Matthew
Mark

Thanks!

[2017-02-15 18:39] wsalesky commented on #16
Interesting, looks like the current sorting works correctly. I think we will move ahead with it, and see if we need to make adjustments as the data gets more complicated.

[2017-02-26 01:58] jedwardwalters opened #29 "Minting URIs"
@nathangibson Should I use this spreadsheet for assigning new work URIs for the corpus? If so, how much info should I fill in?
https://docs.google.com/spreadsheets/d/1d8gxz-Ax7bozQeAzy7ufzSjUn0z9muNHIi910A0gcuw/edit#gid=0

[2017-02-27 15:52] nathangibson commented on #29
Yes, please.

Feel free to create new tabs in order to group however you would like.

Since we will use the info you enter to create the records in NHSL, ideally the info would include at least the following:
 - English and Syriac titles for NHSL (in columns "title syriaca-headword.Edition 1.en" and "title syriaca-headword.Edition 1.syr"). You are welcome to choose what you think is an appropriate

[2017-02-27 19:45] jedwardwalters commented on #29
Great. Thanks for all of this, @nathangibson. Mostly I just wanted to be sure I wasn't about to start inputing the data in the wrong place!

[2017-03-02 01:55] jedwardwalters commented on #29
@nathangibson What should we do for the source bibl if the text comes from a manuscript, not a printed edition?

[2017-03-02 09:57] nathangibson commented on #29
@jedwardwalters I've added a few more columns with instructions (MS 1, etc.). You can continue to add columns as needed according to this pattern. Note that information coming from the manuscript (titles, etc.) should be in a different column from info coming from an edition. I've also added the column "witnesses.Edition 1" where you can put which column contains the id of the transcribed text (Ed

[2017-03-02 14:17] jedwardwalters commented on #29
Thanks!

[2017-03-11 21:35] jedwardwalters opened #40 "Display for biblical texts"
@dlschwartz @davidamichelson @nathangibson
Any thoughts on these two options for the display for a biblical text?

1) http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/100

2) http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/101

If I understood @wsalesky  correctly, we may be able to toggle between the

[2017-03-13 14:26] nathangibson commented on #40
I personally prefer the paragraph style, though I think a toggle option would be nice.

BTW, the font size for the line style is pretty huge on my display (and the paragraph style is perhaps a bit small). Also, the TOC links in the left sidebar don't work for me for the line style (they do nothing when I click on them).

[2017-03-13 14:27] nathangibson commented on #40
Where are the biblical texts coming from? I would like to cite the Syriac titles in NHSL. Thanks!

[2017-03-14 18:37] jedwardwalters opened #42 "Next steps for corpus"
@davidamichelson @dlschwartz @nathangibson
(I tried to tag Jeanne-Nicole, but it looks like maybe she doesn't have access to this branch?)

Sorry I had to leave our meeting today so abruptly. The good news is that the heat is now working!

We didn't have a chance to discuss any additional things we might want to incorporate before we loop Kristian in to the process. Now that the dev server is back

[2017-03-14 18:39] jedwardwalters commented on #42
If possible, before we bring others in, I'd love to have our search feature in place that can account for the presence or absence of vowels.

[2017-03-15 16:15] dlschwartz opened #44 "Chron. Ed. numbering"
@jedwardwalters
https://docs.google.com/a/tamu.edu/document/d/1nxnmU8h5uDiz5YGeCuI5VWba9Mx42PnAxq3Nn5A1ARo/edit?usp=sharing
I just sent you a link with this message but it probably ought to be here in an issue:

"Ages ago I cut and pasted from the html of Kristian Heal's current online version of the Chronicle of Edessa. I added the section numbers to that transcription. It would be great if we co

[2017-03-15 18:24] dlschwartz commented on #44
@jedwardwalters
I need to look into things a bit further but we are thinking that perhaps we have made too great a use of the div element. Pagination, etc. should be handled with a pb element or perhaps a milestone element with a type attribute. We need to be able to accommodate multiple pagination systems and allow users to view according to those systems. Since XML does not allow overlapping ele

[2017-03-15 18:27] jedwardwalters commented on #44
Yes, I've actually been thinking about this as well. I initially looked at using the pb element, but I can't remember why I didn't incorporate it. I think maybe I was just going for keeping it uniform with a text like Aphrahat, which has sections instead of pages. But of course, uniformity isn't a virtue when there are better, more natural ways to do it! I'll try to brainstorm this a bit too, but

[2017-03-15 18:46] dlschwartz commented on #44
Yeah, I think the important difference is between things related to the structure of a text and things related to a particular edition of the text. Pagination is edition specific, section breaks are about textual structure. The real problem I see, is that if we prioritize the section breaks in the encoding so that we can offer different text views, we still wouldn't want to leave out the page brea

[2017-03-15 18:48] jedwardwalters commented on #44
Okay. I'm reading back through TEI guidelines right now to freshen my memory!

[2017-03-15 19:13] jedwardwalters opened #45 "Add xml:lang tag"
The <foriegn> tag in the <title> element in the teiHeader needs xml:lang="syr"

[2017-03-15 19:39] jedwardwalters commented on #40
I just checked Carrie Schroeder's Coptic Scriptorium XML set up for Biblical texts, and it looks like they are doing individual xml files for each chapter. Then, they mark each verse with both a <div> (with n= verse number) and then <ab> within that <div>.

[2017-03-15 19:51] jedwardwalters commented on #40
It's also perhaps worth noting that the very first example given on the <ab> element page is a biblical text!
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-ab.html

[2017-03-15 20:28] jedwardwalters commented on #40
@dlschwartz @davidamichelson @nathangibson
I adjusted one of the biblical texts with <ab> elements for testing display purposes. You can see the code here:
https://github.com/srophe/syriac-corpus/blob/master/data/tei/100.xml#L112

I didn't use paragraph elements because I noticed that most of the <ab> example texts they give don't use paragraphs within the div. I'm open to adding that, but unless

[2017-03-15 20:30] davidamichelson commented on #40
FYI @jedwardwalters we radically reconsidered the layout today to perhaps
use Divs differently, so we should confer before you do more encoding.

On Wed, Mar 15, 2017 at 3:28 PM, jedwardwalters <notifications@github.com>
wrote:

[2017-03-16 01:53] jedwardwalters commented on #40
@davidamichelson Okay, got it.

Should I just wait until next Tuesday to get caught up? Or do you want to chat separately?

[2017-03-16 02:13] davidamichelson commented on #40
May be best to wait until we can all discuss

On Wed, Mar 15, 2017 at 8:53 PM, jedwardwalters <notifications@github.com>
wrote:

[2017-03-22 15:29] jedwardwalters commented on #40
Closing this and starting a new issue

[2017-03-22 15:29] #40 closed

[2017-03-22 15:33] jedwardwalters opened #48 "Text structure and display"
@davidamichelson @dlschwartz @nathangibson @wsalesky
I edited three different kinds of texts (one demonstration, one poetic memra, and one scripture) to remove the div elements like we discussed yesterday.

The three files are:
https://github.com/srophe/syriac-corpus/blob/master/data/tei/1.xml
https://github.com/srophe/syriac-corpus/blob/master/data/tei/27.xml
https://github.com/srophe/syriac-corp

[2017-03-22 17:03] davidamichelson commented on #48
Thanks, for https://github.com/srophe/syriac-corpus/blob/master/data/tei/100.xml can you change even the verses to milestones instead of the tei:ab

[2017-03-22 17:06] davidamichelson commented on #48
Just to clarify, keep the ab but put the verse numbers into milestones

[2017-03-24 15:36] jedwardwalters commented on #48
@davidamichelson
Okay, done. See pull request #49
https://github.com/srophe/syriac-corpus/blob/master/data/tei/100.xml

[2017-03-28 17:30] wsalesky commented on #48
@jedwardwalters Can you check 100.xml I am getting a well formed error. Thanks!

[2017-03-29 01:50] jedwardwalters commented on #48
@wsalesky Is it possible that the problem here is that <ab> is not allowed within a paragraph element? Maybe I'm misreading this, but now that I'm looking more closely, it doesn't seem like <ab> can go inside of a p.
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-ab.html

[2017-03-29 01:52] wsalesky commented on #48
No, I think the problem is that the <p> is not closed. eXist does not
validate, it just checks for wellformedness (and valid xml:ids)

On Tue, Mar 28, 2017 at 9:50 PM, jedwardwalters <notifications@github.com>
wrote:

[2017-03-29 01:53] jedwardwalters commented on #48
Sorry. I literally just saw that missing closed p element. Fixing now.

[2017-03-29 02:11] jedwardwalters commented on #48
@wsalesky Okay, I fixed the missing p element in 100.xml.

I also added back in head elements in 1.xml for the section numbers--we discussed this in the editors meeting today.

[2017-03-29 02:19] jedwardwalters commented on #48
@dlschwartz @davidamichelson
Did you guys make any decisions today after I had to take off? I could join the meeting tomorrow with Winona for a few minutes if that would be helpful.

[2017-03-29 15:14] dlschwartz commented on #48
@jedwardwalters I'll add you to the meeting this morning.

[2017-03-29 19:27] jedwardwalters commented on #48
One additional note: in my research I also confirmed that the ab tag is not supposed to be within a p element; it's only supposed to be in a div.

[2017-03-29 20:04] dlschwartz commented on #48
Thanks @jedwardwalters. I have been thinking that we should just bite the bullet and assert a canonical (at least corpus-canonical) text structure. I am uneasy about not having text in any meaningful text node, especially since I really like the idea of pulling texts into SPEAR factoid pages. I was thinking that this might be worth it even if we lost the ability to offer multiple views. If Jamey's

[2017-03-29 20:21] davidamichelson commented on #48
Digital Mishna is a solid project that has probably thought things through,
so that is good. I guess that would be a good solution use divs for the
canonical versions but then allow milestones so that at least there are
other Tables of Contents possible. LEt's discuss one more time on Tuesday.

On Wed, Mar 29, 2017 at 3:04 PM, Daniel Schwartz <notifications@github.com>
wrote:

[2017-03-30 09:08] nathangibson commented on #48
This makes sense to me too. I would think that marking canonical divisions using text-containing nodes would help not only with SPEAR but also with CTS down the road.

A couple clarifications to discuss:
 1. If a text doesn't have any truly canonical divisions, do we simply create them?
 2. Is it the case that alternate structures will serve to display numbers in the text and links from the table

[2017-03-30 14:15] dlschwartz commented on #48
I would be fully satisfied to retrieve only by canonical text structure if one can still link to other milestones.

If no text structure exists, (say in an unedited text that exists in only a small number of mss) we can simply make a preferred available numbering (in this example one set of folio numbers) the canonical numbering. When someone decides to take that unedited transcription of an ms an

[2017-03-31 00:24] jedwardwalters opened #52 "Expectations questionnaire"
Review corpus against these expectations:
https://opinio.ucl.ac.uk/s?s=48797

[2017-03-31 01:37] jedwardwalters commented on #48
Thanks, everyone, for weighing in. We can follow up on Tuesday, and I'll hold off on any more changes until then.

[2017-04-11 15:08] jedwardwalters opened #57 "Allowable elements"
Write up a list of allowable elements to send to Dan for schema

[2017-04-12 16:41] davidamichelson commented on #48
Closing this, see the resolution at https://github.com/srophe/syriac-corpus-app/issues/41

[2017-04-12 16:41] #48 closed

[2017-05-04 19:07] jedwardwalters opened #78 "New bibl item"
@nathangibson Can we add a new bibl item for Charlesworth's edition of the Odes of Solomon so I can put it in the header? I created a record in the Zotero group:
https://www.zotero.org/groups/syriaca.org_test_bibliography_module/items/itemKey/2F8KPCSU

[2017-05-06 20:26] jedwardwalters opened #82 "Critical Apparatus"
@davidamichelson @davidamichelson @nathangibson
Okay, I've been avoiding this question for a little while by just working on texts for which this issue is not applicable, but at some point we need to decide how to handle corpus texts that include variants in a critical apparatus.

There are two immediate questions:
1) Do we want to include these in our quick and dirty version?
2) And if so, which

[2017-05-08 10:50] nathangibson commented on #78
I’m working on this today, since I am also exporting some other items from Zotero.

[2017-05-08 13:08] nathangibson commented on #78
Here you go: http://syriaca.org/bibl/2455

[2017-05-08 14:58] jedwardwalters commented on #78
Thanks! Also, is this the best way to request new bibl items whenever this comes up?

[2017-05-08 15:04] nathangibson commented on #78
Yes, this is fine. Two things that will make it easier, though: (1) If you put new items in the "BYU Corpus" subfolder and (2) if you assign a unique numbered tag (functions as an ID, you can open the tag pane when you are on the top-level folder in order to see what the next number would be).

Then when I export I move them to "BYU Corpus - EXPORTED".

It's also easiest to do them in a batch. If

[2017-05-08 15:05] jedwardwalters commented on #78
Yep, that's great. Thanks!

[2017-05-08 17:27] davidamichelson commented on #82
We do plan to include this using Hugh Cayless system and we should have at
least one text text with it. We need to ask Hugh what style, can you email
him?

On Sat, May 6, 2017 at 3:26 PM, jedwardwalters <notifications@github.com>
wrote:

[2017-05-09 14:55] jedwardwalters opened #83 "edRef"
Replace "ed" with "edRef" in milestone type elements.

[2017-05-12 02:10] jedwardwalters commented on #44
@dlschwartz @davidamichelson @wsalesky @nathangibson
I updated the Chronicle of Edessa text structure as we discussed. You can view it here:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/57

One question I had (which will apply to other texts) is that now that I changed all the ed attributes to edRef in pb elements, I had to use an xml:id to decla

[2017-05-12 14:04] dlschwartz commented on #44
@jedwardwalters, why the need for an xml:id in the edRef attribute? Wouldn't we prefer a bibl URI? TEI allows that, at least that's how I read the guidelines. Oxygen validates it as well. Am I missing something (he asks not having had a cup of coffee yet this morning!)?

[2017-05-12 18:44] jedwardwalters commented on #44
@dlschwartz Ah, okay. I see that the actual edRef can take a URI. I was trying to set it up like they do in the examples where there is an xml:id attached to a source within the document, and then they use edRef to link to that source using the xml:id. So I was trying to "declare" an xml:id for the source and then use that for the edRef id.

But if we can bypass that step by just using the URIs fo

[2017-05-12 18:49] dlschwartz commented on #44
TEI has a strong preference for xml:ids and tends to think of them as synonymous with URIs. This notion of a URI, however, is incompatible with W3C recommendations on URIs, the relative benefits of which are abundantly clear. I hope too much effort didn't go into the xml:ids.

[2017-05-12 18:50] jedwardwalters commented on #44
Oh no, hardly any effort at all. I worked on it for a couple of minutes, made a decision and posted here for feedback. And it will only take a couple minutes on a quick find/replace to fix it.

[2017-05-12 18:53] dlschwartz commented on #44
Excellent!

[2017-05-16 19:00] jedwardwalters opened #87 "Display"
Some of the texts appear to be spilling out of the center text container. See: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/1

[2017-05-16 19:01] #29 closed

[2017-05-16 19:02] #42 closed

[2017-05-16 19:03] jedwardwalters commented on #44
Closing this, since I think we solved our problem (for now anyway).

[2017-05-16 19:03] #44 closed

[2017-05-16 19:03] #45 closed

[2017-05-16 19:06] wsalesky commented on #87
Browser and OS?

Sent from my iPhone

[2017-05-16 19:06] jedwardwalters commented on #87
Yes, both. Is it not happening for you? I'll take a screen shot.

[2017-05-16 19:08] jedwardwalters commented on #87
![screenshot](https://cloud.githubusercontent.com/assets/11543800/26123593/72ad72ce-3a49-11e7-8c1e-b6d073f83f72.jpeg)

[2017-05-16 19:32] wsalesky commented on #87
Sorry, I meant which browser and which operating system. I did notice this in Safari, not Chrome or Firefox on my Mac.

Sent from my iPhone

[2017-05-16 19:59] jedwardwalters commented on #87
Ah! Of course. Sorry.

Using Safari, and my OS is 10.12.4 (Sierra).

[2017-05-16 20:04] wsalesky commented on #87
Okay, thanks!

[2017-05-17 16:34] davidamichelson opened #88 "Please revise the header title"
Change "[Logo TBA] Syriac Corpus" to "[LOGO TBA] The Oxford-BYU Syriac Corpus"

[2017-05-17 16:37] davidamichelson opened #89 "Please revise license statement"
Add sentence after "All .xml and .html data copyright Brigham Young University and licensed under the Creative Commons Attribution 4.0 International Public License."

to read

All .xml and .html data copyright Brigham Young University and licensed under the Creative Commons Attribution 4.0 International Public License. Underlying Syriac raw text is in the public domain.
The Oxford-BYU Syriac Corpu

[2017-05-17 16:37] davidamichelson opened #90 "Corrections additions button is not yet functioning"

[2017-05-17 16:40] davidamichelson commented on #88
Oops I thought I was posting in the app. Sorry!

[2017-05-17 16:41] davidamichelson commented on #88
See app issue

[2017-05-17 16:41] #88 closed

[2017-05-17 16:42] davidamichelson commented on #89
Sorry posted here by mistake https://github.com/srophe/syriac-corpus/issues/89

[2017-05-17 16:43] #89 closed

[2017-05-17 16:43] #90 closed

[2017-05-31 18:09] jedwardwalters opened #92 "Adjustments to TEI structure?"
@wsalesky @dlschwartz @davidamichelson @nathangibson

Dan and Dave,
Nathan and I met with Joel Kalvesmaki and discussed Syriaca/Text Align Network stuff. After the conference, he gave a few comments on one of our documents and shared it as a pull request (not expecting us to merge it, just as a way of sharing it).

You can view it here: https://github.com/srophe/syriac-corpus/pull/91/commits/9bed1

[2017-05-31 20:38] nathangibson commented on #92
My 2 cents:
1. Not sure what happened in the [publicationStmt](https://github.com/srophe/syriac-corpus/blob/master/data/tei/1.xml#L56), but it seems we should do something to make that valid TEI. Perhaps orgName directly inside distributor?
2. At [availability](https://github.com/srophe/syriac-corpus/blob/master/data/tei/1.xml#L65), do we need to specify the rights holder as Joel has suggested, or

[2017-05-31 21:14] davidamichelson commented on #92
Let's discuss in an editorial meeting. These look interesting. To avoid
breaking the XSLT please don't merge this branch however.

On Wed, May 31, 2017 at 3:38 PM, nathangibson <notifications@github.com>
wrote:

[2017-06-05 12:40] nathangibson opened #94 "Sample file to be removed?"
@jedwardwalters
Randomly came across this file http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/9999993 which seems to be a sample? Has title "Mark (Peshitta Version)" but text of Demonstration 1. Plus a seemingly fake URI.

[2017-06-05 14:47] dlschwartz commented on #94
I think it is safe to remove this. If you think we might need it in the future (which sounds unlikely) you could keep it on your hard drive. Probably not necessary.

[2017-06-05 18:08] jedwardwalters commented on #94
Done.

[2017-06-05 18:08] #94 closed

[2017-06-06 19:42] jedwardwalters commented on #92
@nathangibson @davidamichelson @dlschwartz

I re-structured Demonstration 1 as an example/test. See pull request #97.

Or just view the revised file here:
https://github.com/srophe/syriac-corpus/blob/master/data/tei/1.xml

Any thoughts/comments?

[2017-06-06 19:44] jedwardwalters commented on #92
@wsalesky
FYI: We have decided to ditch the numbered divs in the Corpus after all. You can see the above example that I re-structured. Any thoughts/comments on your end about this new structure?

[2017-06-09 10:45] nathangibson commented on #92
@jedwardwalters I don't see any issues.

[2017-06-16 18:07] wsalesky commented on #87
@jedwardwalters This seems to be resolved on my mac, how does it look to you? If it is fine, you can close this issue.

[2017-06-16 18:10] wsalesky commented on #92
@jedwardwalters Seems fine to me. If you find anything that is no longer rendering correctly please create a bug and we will fix as we find them.

[2017-06-16 18:11] jedwardwalters commented on #87
Yep, looks good on mine too.

[2017-06-16 18:11] #87 closed

[2017-06-16 18:12] jedwardwalters commented on #92
Okay. Will do.

[2017-06-16 18:12] #92 closed

[2017-06-19 09:39] nathangibson opened #99 "Jude authored by "John the Apostle""
@jedwardwalters
FYI, Jude http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/rec.html?id=https://syriaccorpus.org/144 says the author is "John the Apostle"

[2017-06-19 11:19] nathangibson opened #100 "Syriaca bibls in corpus texts"
@jedwardwalters How are you planning to mark the Syriaca.org bibl URIs of transcribed editions in corpus texts? E.g., http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/101/tei I see a biblStruct in the sourceDesc. Will an idno go into the first child of biblStruct here as we do in the Works Cited module? If you are able to do an example, this would help with https://github.com/srophe/sro

[2017-06-25 02:01] jedwardwalters commented on #100
@nathangibson
Okay, I did a test here:
https://github.com/srophe/syriac-corpus/blob/master/data/tei/27.xml#L80

It validates, and if this is already what you do in the Works Cited thing, then I think this is a fine system to adopt.

Look okay to you?

[2017-06-27 00:09] jedwardwalters commented on #99
Corrected. Thanks!

[2017-06-27 00:09] #99 closed

[2017-06-28 22:57] nathangibson commented on #100
Yes, this looks great and matches the Works Cited module usage. Thanks!

[2018-02-14 15:39] jedwardwalters commented on #100
Closing this because I think it's resolved.

[2018-02-14 15:39] #100 closed

[2018-04-24 15:32] jedwardwalters opened #146 "Categories of entries"
Define categories of entries:
transcription
ecclectic edition
diplomatic edition

[2018-04-24 19:26] jedwardwalters opened #147 "editionStmt"
@davidamichelson I've been thinking about the editionStmt thing we talked about, and I came up with an idea. Tell me what you think of this (this is for Aphrahat Dem 1):
`<editionStmt>
                <edition n="PT1">Transcription of print edition</edition>
                <respStmt>
                    <resp>Trascription</resp>
                    <name type="person" ref="http://syriaca.org/pers

[2018-04-24 20:10] jedwardwalters commented on #146
**Transcription**
The typed contents of an object--either a print edition or a manuscript.

1. Manuscript Transcription (MT): Text typed from a manuscript; may or may not include folio numbers.

2. Print Edition Transcription (PT): Text typed from a print edition; may or may not include para-textual components like page numbers, critical apparatus, headings, notes, etc.

**Edition**
A born-digital

[2018-04-24 20:11] jedwardwalters commented on #146
@davidamichelson @dlschwartz  Have a look at the categories above--do these make sense? Any suggestions?

[2018-04-24 20:41] davidamichelson commented on #147
Did you see the commits I sent with a sample?

On Tue, Apr 24, 2018 at 2:26 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-04-24 20:42] jedwardwalters commented on #147
Oh, no I hadn't seen that. I'll go check it out now.

[2018-04-24 20:49] jedwardwalters commented on #147
Okay. Now I've seen it.
That looks pretty similar to what I have in mind. Though I figured we may as well include the name of the transcriber in a respStmt.

I think your type="manuscript" is fine for the schema I have above, as long as we have a one-word representation of the different types of editions.

[2018-04-24 20:49] jedwardwalters commented on #147
See here for an attempt at spelling out the different categories: https://github.com/srophe/syriac-corpus/issues/146

[2018-04-24 20:53] davidamichelson commented on #147
Great, let's try to meet in person to discuss.

On Tue, Apr 24, 2018 at 3:49 PM, jedwardwalters <notifications@github.com>
wrote:

[2018-04-24 20:55] jedwardwalters commented on #147
I'm available every day this week from 9 am-noon (eastern). Could also do afternoons, but need to work around kids' naps.

[2018-04-24 20:55] jedwardwalters commented on #147
Oops. Didn't mean to close it.

[2018-04-24 21:08] davidamichelson commented on #146
This is a good start. Let's discuss in person.

[2018-04-25 13:28] jedwardwalters commented on #147
Sounds good. I'm fairly wide open in the mornings to meet.

[2018-04-25 16:43] dlschwartz commented on #146
Agreed on both points Dave.

[2018-04-25 20:04] jedwardwalters opened #149 "Editions for testing"
Create editions, one critical, one not, for testing and display.

Critical: Preaching of Peter at Rome
Non-critical: Exhortation of Peter

Example of three different versions of the same text: Travels of Peter
1) Published version (Nau)
2) Manuscript version
3) New edition (me)

[2018-04-26 01:46] jedwardwalters commented on #149
Test of Exhortation of Peter is up: http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/372.html

[2018-04-26 13:54] jedwardwalters commented on #147
For discussion, here's a TEI header template from the Library of Digital Latin Texts:
[code]

[2018-04-30 20:04] davidamichelson opened #161 "Citation for 1905 Bible Societies Edition"
@jedwardwalters I updated the record for http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/100 with the biblStruct from http://wwwb.library.vanderbilt.edu/bibl/2491

I think that all of the other biblical books need this same update as their current citation is not rendering right under "source"/

[2018-04-30 20:07] jedwardwalters commented on #161
Got it. Will do.

[2018-05-01 12:35] jedwardwalters commented on #146
Resolved.

[2018-05-01 12:35] #146 closed

[2018-05-01 19:50] jedwardwalters commented on #161
Done.

[2018-05-01 19:50] #161 closed

[2018-05-04 18:24] wsalesky opened #171 "record 364.xml has a duplicate xml:id"
xml:id="ftn1" is used twice.

[2018-05-07 14:05] #82 closed

[2018-05-07 14:05] #78 closed

[2018-05-07 14:05] #57 closed

[2018-05-07 14:06] #52 closed

[2018-05-07 14:06] jedwardwalters commented on #16
I think we've got this worked out.

[2018-05-07 14:06] #16 closed

[2018-05-07 19:02] davidamichelson commented on #83
@jedwardwalters I can't remember either but here is the distinction, can you point me to an example?

http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.edition.html

ed¶ | (edition)  supplies a sigil or other arbitrary identifier for the source edition  in which the associated feature (for example, a page, column, or line  break) occurs at this point in the text.

dRef¶ | (edition  refer

[2018-05-07 20:12] jedwardwalters commented on #83
@davidamichelson Sure, here's an example of where we use it:
https://github.com/srophe/syriac-corpus/blob/master/data/tei/30.xml#L152

[2018-05-10 19:49] jedwardwalters commented on #171
Fixed

[2018-05-10 19:49] #171 closed

[2018-05-10 19:49] #149 closed

[2018-05-10 19:52] jedwardwalters commented on #147
I think we have wrapped this up elsewhere.

[2018-05-10 19:52] #147 closed

[2018-05-15 19:42] jedwardwalters opened #192 "Source display problem"
Files: 332, 339, 225

[2018-05-16 14:50] jedwardwalters commented on #192
Also a problem across the whole Jacob volume: 341-368

[2018-05-16 14:53] jedwardwalters commented on #192
@wsalesky I did some exploring here, and it looks like the problem is that the dev server files do not match the production server files. These haven't been updated since we created the production site, so I'm not sure how that happened.

Compare the right hand info boxes in:
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/332.html
with
https://syriaccorpus.org/332

Can we push the cur

[2018-11-07 18:05] jedwardwalters opened #200 "Documentation"
@wsalesky I was just looking for something in the corpus documentation, and that page is not showing anything on the production server. Any ideas?

https://syriaccorpus.org/documentation/index.html

[2018-11-07 18:20] jedwardwalters opened #202 "Webhook fail"
@wsalesky Also, I just tried adding a new text, and the webhook failed. Not sure why exactly.

[2018-11-07 18:31] wsalesky commented on #202
sent

[2018-11-08 02:02] wsalesky commented on #202
@jedwardwalters can you point me to the file or commit that failed to upload?

[2018-11-08 02:04] jedwardwalters commented on #202
Here's the commit:
https://github.com/srophe/syriac-corpus/commit/9d0ab8d14d7854ab675810340032336e857c5143

File is 387.xml

[2018-11-08 02:08] wsalesky commented on #202
@jedwardwalters Thanks, I fixed it. There was a bug for loading new files. The script was using the wrong file format. https://syriaccorpus.org/387

[2018-11-08 02:08] #202 closed

[2018-11-08 02:13] wsalesky commented on #200
Looks like it is not pointing to the wiki. I will troubleshoot...

[2018-11-08 02:14] jedwardwalters commented on #202
Thanks. Do I still need to reset the permissions on git-sync?

[2018-11-08 02:15] jedwardwalters commented on #200
I'm happy to fix it if you can point me in the right direction.

[2018-11-08 02:16] wsalesky commented on #202
Nope. Well, you do for Hugoye, if you deployed a new .xar file to get the
new issue up. I confused which app we were discussing.
The corpus should be fine.

On Wed, Nov 7, 2018 at 9:14 PM jedwardwalters <notifications@github.com>
wrote:

[2018-11-08 02:17] jedwardwalters commented on #202
Ah, okay. Got it. I did do that for Hugoye earlier this week, so that should be fine.

[2018-11-08 02:19] wsalesky commented on #200
@jedwardwalters actually it is pointing to the wiki. https://github.com/srophe/syriac-corpus-app/blob/master/documentation/wiki.html#L16

curious. (by which i mean, annoying)

[2018-11-08 02:31] wsalesky commented on #200
Fixed. Sorry about that.

[2018-11-08 02:31] #200 closed

[2018-11-08 02:35] jedwardwalters commented on #200
Thank you!

[2018-12-21 20:02] davidamichelson opened #207 "https://syriaccorpus.org/372.tei"
@wsalesky @jedwardwalters For some reason this file: https://syriaccorpus.org/372 gives an error when its TEI is requested. Any ideas?

[2018-12-22 16:14] wsalesky commented on #207
Fixed.

[2018-12-22 16:14] #207 closed

[2018-12-23 02:57] jedwardwalters commented on #207
Thanks, Winona!

[2019-02-26 17:26] dlschwartz opened #213 "typo in Chronicle of Edessa"
@jedwardwalters Compare [https://syriaccorpus.org/57#Head-id.76](url) with text of line 25 and footnote 1 here [https://archive.org/details/chronicaminorapa00guid/page/678](url). The Corpus has one thing, the mss has something else, and Guidi recommends a third reading. Looks like the current Corpus just contains a typo. Not sure how best to encode this given difficulties with rtl. Happy to bounce

[2019-02-26 17:49] dlschwartz opened #214 "another typo"
@jedwardwalters See [https://syriaccorpus.org/57#Head-id.80](url) where ܐܡܕܡ should read ܐܡܕ. Compare [https://archive.org/details/chronicaminorapa00guid/page/678](url) line 9.

[2019-02-26 18:10] dlschwartz commented on #214
@jedwardwalters And another: See [https://syriaccorpus.org/57#Head-id.86](url) where ܘܗܼ،ܐ should read ܘܗܼܘܐ. Compare [https://archive.org/details/chronicaminorapa00guid/page/678](url) line 29.

[2019-02-26 18:40] jedwardwalters commented on #214
Thanks for pointing these out, Dan! I'll try to get them taken care of soon.

[2019-02-26 18:53] dlschwartz commented on #214
@jedwardwalters Thank you for making the changes. One more, by the way. The very end is in bad shape. Compare our [https://syriaccorpus.org/57#Head-id.106](url) with [https://archive.org/details/chronicaminorapa00guid/page/674](url) lines 22ff.

[2019-02-27 19:16] dlschwartz commented on #214
@jedwardwalters And another. We've got a transposition of letters in the name Theodoret. Compare our [https://syriaccorpus.org/57#Head-id.63](url) with [https://archive.org/details/chronicaminorapa00guid/page/680](url) line 23.

[2019-02-27 23:13] dlschwartz commented on #214
@jedwardwalters We've got half a line typed twice. Compare [https://syriaccorpus.org/57#Head-id.101](url) with [https://archive.org/details/chronicaminorapa00guid/page/674](url).

[2019-02-28 14:13] jedwardwalters commented on #214
Are you still working through the text? I can wait until you're done looking over it and just correct them all at once.

[2019-02-28 15:34] dlschwartz commented on #214
Almost, should be done in about 15 minutes. Compare [https://archive.org/details/chronicaminorapa00guid/page/674](url) line 30 on page 12 with what we have here [https://syriaccorpus.org/57#Head-id.104](url). Seems we've got the addition of ܞ. Also,we have the repetition of ܫܝܢܐ, compare line 1 on page 13.

[2019-02-28 15:57] dlschwartz commented on #214
[Page](https://syriaccorpus.org/57#Head-id.106) has a number of errors. Compare [https://archive.org/details/chronicaminorapa00guid/page/674](url) p. 13 ll 21-end. We have some typos and a missing chunk of text.

[2019-02-28 16:04] dlschwartz commented on #214
@jedwardwalters I want to apologize. I started out just thinking this would be a couple of little things but I obviously found a fair number of mistakes. I'm on a relatively new machine and still need to load a usable Syriac keyboard. Once I do that I could fix these.

I want to add that I haven't really worked through this in any kind of systematic way. I'm sure there are mistakes I've missed. Al

[2019-02-28 16:32] dlschwartz commented on #214
@jedwardwalters Alright, I'm sorted on my keyboard situation now. I'll go ahead and make these changes unless you've already started.

[2019-02-28 16:32] jedwardwalters commented on #214
@dlschwartz No, I haven't started yet. I don't mind doing them, but I won't stop you either!

[2019-03-25 00:53] jedwardwalters opened #218 "Typo from user"
for https://syriaccorpus.org/344

To whom it may concern,

 Greetings. I am reading through the text of Jacob of Serugh's "On Aaron the Priest" on this site, and think I just came across a minor typo in it: On p. 81 (with page break turned on), at the beginning of line 8, there is the ܠܠ, which I suspect to be ܠܟܠ. Is that right?

[2019-04-26 15:40] jedwardwalters opened #220 "Dated texts-ready for testing"
@wsalesky Okay, I have a batch of texts edited and ready for testing. I added the date data in the profileDesc after the langUsage declaration (I checked with Dan and he agreed this was the most natural place for it in our data structure). So, it looks like this:
`<profileDesc>
            <langUsage>
                <language ident="syr">Unvocalized Syriac of any variety or period</language>

[2019-04-26 15:42] jedwardwalters commented on #220
Oh, and it looks like the webhook failed. Should I manually upload them?

[2019-04-26 15:51] wsalesky commented on #220
@jedwardwalters I will take care of it. I'm going to load them in my local instance first. Less chance of breaking the dev server. When I have something ready for you I will load them on the dev server with the new code. I can probably have it up on Monday, I have a kid at home today so coding is sporadic.

[2019-04-26 15:53] jedwardwalters commented on #220
@wsalesky Monday (or even later next week) is fine!

[2019-04-29 14:14] wsalesky commented on #220
@jedwardwalters ready for testing.
http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/search.html

Let me know if you want to add a date slider function to the facets on the search or browse results. That shouldn't take very long to add.

[2019-04-29 15:00] wsalesky commented on #220
@jedwardwalters I added the slider, you can see it when you run a search, above the facets. We can put it anywhere you like, but at least you can test it and see if you like the function. We can remove it if you don't want it. Let me know if you find bugs or need tweaks.

[2019-04-29 18:45] jedwardwalters commented on #220
This looks really great, @wsalesky. It seems to be working as expected, though it's a little hard to tell because it seems like the dev server doesn't have the search feature that ignores vowels. That's not a huge problem or anything...I just can't fully tell if it's returning all of the expected results.

I kind of like having the search box the way you have it now and then having the slider on t

[2019-04-29 23:17] wsalesky commented on #220
@jedwardwalters Okay, I think I have both issues fixed. Let me know what you think.

[2019-04-30 00:56] jedwardwalters commented on #220
@wsalesky This is looking great. One more tiny thing (and this may be unavoidable, but I thought I'd check). When you use the slide bar, it automatically assigns a specific date (with month and day) to the year you've chosen. See picture below. Is it possible to make it only show the year?
<img width="598" alt="Screen Shot 2019-04-29 at 8 53 47 PM" src="https://user-images.githubusercontent.com/11

[2019-04-30 13:49] wsalesky commented on #220
@jedwardwalters done.

[2019-04-30 13:55] jedwardwalters commented on #220
Thanks so much. I just noticed, though, that now when you do an initial search in a date range, the dates do not show up in that same spot, and they are also showing up highlighted as if they were the word being searched for. See [these results here ](http://wwwb.library.vanderbilt.edu/exist/apps/syriac-corpus/search.html?q=%DC%A1%DC%98%DC%AC%DC%90&keywordProximity=&author=&title=&fq=&section=&cor

[2019-04-30 14:01] wsalesky commented on #220
Fixed.

[2019-04-30 14:04] jedwardwalters commented on #220
Thanks! I'm really happy with this. I'll run it by Dave and Dan and see if they have any thoughts. Hopefully very soon we'll be able to push this over to production. We can do sort of a soft launch of this until I get everything that's currently in the corpus dated, then do an official announcement.

[2020-02-14 17:03] wsalesky commented on #220
@jedwardwalters I think this is a stale issue and am closing. If it still needs attention, please reopen.

[2020-02-14 17:03] #220 closed

[2022-02-09 16:08] wlpotter opened #256 "Incipit misplaced in https://syriaccorpus.org/367"
@jedwardwalters the incipit of Jacob's [On the Power of Repentance](https://syriaccorpus.org/367) is currently encoded as part of the rubric.

[code]

The line, "ܚܙܵܬܹܗ ܕܥܵܠܡܵܐ ܬܘܼ̈ܟܹܐ ܡܲܠܝܵܐ ܠܲܕܼܚܵܐܲܪ ܒܹܗ:" should be the incipit; cf. [Bedjan's edition](https://archive.org/details/homiliaeselectae01jaco/page/646)

I believe it should be:

[code]

[2022-02-09 16:13] wlpotter opened #257 "Misplaced incipit https://syriaccorpus.org/365"
@jedwardwalters found another one like #256

The incipit in Jacob's [On Love]() got placed with the rubric.

[code]